---
BasedOnStyle: WebKit

ColumnLimit: '79'
IndentWidth: '4'
UseTab: Never

PointerAlignment: Right
SortIncludes: 'false'

AlignAfterOpenBracket: 'AlwaysBreak'
BinPackArguments: 'false'
BinPackParameters: 'false'

AllowShortFunctionsOnASingleLine: 'false'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveMacros: 'true'
...
